*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #000000;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family:'Ubuntu', sans-serif;;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #212326;
}

div.rightContent img #aboutme
{
	width: 25%;
	height: 25%;
	float: right;
}

div.left
{
	width: 60%;
	float: left;
	clear: both;
	margin-left: 40px;
}

div.rightContent
{
	width: 35%;
	float: right;
}

div.rightContent form
{
	padding-bottom: 25px;
}
section
{
	padding: 1em;
	text-align: center;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

/* Header */

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	max-width: 900px;
}

.codrops-header h1 {
	margin: 0;
	font-size: 4.5em;
	line-height: 1;
	font-weight: 200;
}

.codrops-header h1 span {
	display: block;
	padding: 1em 0 1.5em;
	font-size: 36%;
	color: #95a5a6;
	line-height: 1.4;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	text-align: center;
	padding: 3em 0;
}

.codrops-top a {
	display: inline-block;
	padding: 1.5em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.nav {
	padding-top: 1em;
	font-size: 0.8em;
	float: right;
}

.nav a {
	display: inline-block;
	margin: 0.35em 0.1em;
	padding: 0.5em 1.2em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius: 2px;
	font-size: 110%;
	border: 2px solid transparent;
}

.nav a:hover,
.nav a.current-demo {
	border-color: #383a3c;
}

.nav h3 {
	margin: 0;
	padding: 1em 0 0.5em 0;
	font-size: 0.9em;
	float: left;
	min-width: 90px;
	clear: left;
}

.nav div:not(:first-child) h3 {
	padding-top: 2em;
}

.nav a:hover,
.nav a.current-demo {
	color: inherit;
	border-color: initial;
}

/* Related demos */
.related {
	padding: 10em 0;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	vertical-align: middle;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 10px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	min-height: 63px;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: center;
	font-weight: 400;
	font-size: 1em;
}

div.left ul.social-icons {
    max-width: 980px;
    margin: 0 auto;
}

.icon {
    float: left;
    position: relative;
    width: 19%;
    height: 0;
    margin: 1% 0.5%;
    padding-bottom: 19%;

    @media all and (min-width: 640px) {
        width: 9%;
        padding-bottom: 9%;
    }

    &:last-of-type {
        margin-right: 0;
    }

    a {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 10px;
        background-color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .2s ease-out;

        &:hover {
            background-color: #222;
            background-size: 0%;
            transition: all .2s ease-out;
        }
    }
}

.icon__name {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -7px;
    color: #fff;
    font-size: 13px;
    text-align: center;
  
    transition: all .3s ease-out;
    opacity: 0;
    filter: blur(25px);
    transform: translateZ(0);
  
    .icon:hover & {
        transition: all .3s ease-out;
        opacity: 1;
        filter: blur(0);
    }
}


// Customise Icons

.icon--twitter a {
    background-color: #00aced;
    background-image: url('http://benhodgson.net/codepen/social/twitter-128.png');
}

.icon--linkedin a {
    background-color: #007fb1;
    background-image: url('http://benhodgson.net/codepen/social/linkedin-128.png');
}

.icon--spotify a {
    background-color: #80b719;
    background-image: url('http://benhodgson.net/codepen/social/spotify-128.png');
}

.icon--github a {
    background-color: #4183c4;
    background-image: url('http://benhodgson.net/codepen/social/github-128.png');
}

@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 2.5em;
	}
}